:root {
  --brand-color-black: #212121;
  --brand-color-blue: #2196f3;
  --brand-color-gray: #757575;
  --brand-color-white: white;
  --brand-color-dark-blue: #188ce8;
  --brand-color-transparent-gray: rgba(255, 255, 255, 0.6);
  --brand-icons-gray: #afb1b8;
  --brand-background-black: #2f303a;
  --brand-background-white: #f5f4fa;
  --brand-background-gray: rgba(255, 255, 255, 0.1);
  --brand-background-gray-lite: rgba(47, 48, 58, 0.8);
  --brand-background-blue: rgba(33, 150, 243, 0.9);
  --brand-background-overlay: rgba(0, 0, 0, 0.2);
  --brand-placeholder-gray: rgba(117, 117, 117, 0.5);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--brand-color-black);
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.section {
  padding: 94px 0 94px 0;
}
header {
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
  background-color: var(--brand-background-white);
  z-index: 10;
}
.logo {
  font-family: raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.173;
  color: var(--brand-color-black);
  text-decoration: none;
  letter-spacing: 0.03em;
  padding: 24px 0 25px;
  display: block;
}
.logo:focus,
.logo:hover {
  color: var(--brand-color-black);
}
.logo__text {
  color: var(--brand-color-blue);
}
.logo-bot {
  color: var(--brand-color-white);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-size: 26px;
  display: inline-block;
  margin-bottom: 20px;
}

.container__header {
  display: flex;
}
.nav {
  margin-right: auto;
  display: flex;
}

.site-nav__link {
  position: relative;
  color: var(--brand-color-black);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.172;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:focus,
.site-nav__link:hover {
  color: var(--brand-color-blue);
}
.site-nav__link.site-nav__link--current {
  color: var(--brand-color-blue);
}

.site-nav__link.site-nav__link--current::after {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  color: var(--brand-color-blue);
  background-color: var(--brand-color-blue);
  border-radius: 2px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.site-nav__item:nth-last-child(-n + 2) {
  margin-left: 50px;
}

.contacts {
  display: flex;
  align-items: center;
}
.contact {
  color: var(--brand-color-gray);
}

.contact__item:hover .contact__icon {
  fill: var(--brand-color-blue);
}
.contact:focus .contact__icon {
  fill: var(--brand-color-blue);
}

.contact__item {
  display: flex;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__item:last-child {
  margin-left: 50px;
}
.contact__icon {
  fill: var(--brand-color-gray);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.hero {
  background-color: var(--brand-background-black);
  padding: 200px 0;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hat-background.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__header {
  color: var(--brand-color-white);
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.363;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-align: center;
  display: inline-block;
  margin: 0 0 30px 0;
}
.header-second {
  font-size: 36px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 50px 0;
}
.place-order {
  color: var(--brand-color-white);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--brand-color-blue);
  cursor: pointer;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  width: 216px;
  height: 50px;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.place-order:hover {
  background-color: var(--brand-color-dark-blue);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--brand-background-overlay);
  visibility: visible;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(1turn);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--brand-color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.close__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--brand-color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close__icon:hover {
  fill: var(--brand-color-blue);
}
.modal-inputs--container {
}
.modal--form {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.modal--legend {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
}
.modal--fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 20px;
}
.modal--fieldset > label {
  color: var(--brand-color-gray);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal--input {
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding-left: 42px;
  color: var(--brand-color-blue);
}
.modal--input:focus {
  border-color: var(--brand-color-blue);
}

.modal--textarea {
  padding: 11px 16px;
}
.modal--input-box {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}
.modal--icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--brand-color-black);
}
.modal--input:focus + .modal--icon {
  fill: var(--brand-color-blue);
}
.modal--textarea {
  resize: none;
}
.modal--textarea::placeholder {
  color: var(--brand-placeholder-gray);
}
.modal-check {
  padding-left: 1.2em;
}
.checkbox--input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-check-box {
  position: absolute;
  margin-left: -1.2em;
  width: 16px;
  height: 15px;
  background-image: url(../images/off.svg);
}
.checkbox--input:checked + .modal-check-box {
  background-image: url(../images/on.svg);
}
.modal-check-text {
  color: var(--brand-color-blue);
  text-decoration: underline;
}
.modal-send {
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
  border: none;
  padding: 10px 52px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}
.benefits {
  display: flex;
  justify-content: space-between;
}
.benefits-item {
  max-width: 270px;
}
.benefits-icon-container {
  display: flex;
  height: 120px;
  border-radius: 4px;
  background-color: var(--brand-background-white);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits-header {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}
.benefits-text {
  font-size: 14px;
  color: var(--brand-color-gray);
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  margin: 0 auto;
}
.section.todo {
  padding-top: 0;
}
.we-do {
  display: flex;
  justify-content: space-between;
}
.we-do-thumb {
  position: relative;
}
.we-do-thumb > .we-do-text {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 0px;
  width: 100%;
  background-color: var(--brand-background-gray-lite);
  color: var(--brand-color-white);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.171;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.team {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.team-section {
  background-color: var(--brand-background-white);
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
  display: block;
}
.team-header {
  font-size: 16px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  margin: 0px 0 10px 0;
}
.team-text {
  font-size: 16px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--brand-color-gray);
}
.team-description {
  background-color: var(--brand-color-white);
  padding: 30px;
  text-align: center;
}
.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color-white);
  border-radius: 50%;
  color: var(--brand-icons-gray);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:focus,
.soc-link:hover {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
}
.soc-icon {
  fill: currentColor;
}

.clients-list {
  gap: 30px;
  display: flex;
}
.clients-item {
  width: calc((100% - 60px) / 3);
}
.clients-link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--brand-icons-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--brand-icons-gray);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus,
.clients-link:hover {
  color: var(--brand-color-blue);
  border-color: var(--brand-color-blue);
}
footer {
  background-color: var(--brand-background-black);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.address-table {
  margin: 0;
}
.address-item:nth-child(n + 2) {
  margin-top: 9px;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.714;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adres {
  color: var(--brand-color-white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: var(--brand-color-blue);
}
.adres:focus,
.adres:hover {
  color: var(--brand-color-white);
}
.footer-soc-links-container {
  margin-left: 70px;
}
.footer-soc-links-header {
  color: var(--brand-color-white);
  font-size: 14px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.footer-soc-list {
  display: flex;
  gap: 10px;
}
.footer-soc-item {
  background-color: var(--brand-background-gray);
  border-radius: 50%;
}

.footer-soc-link:focus,
.footer-soc-link:hover {
  background-color: var(--brand-color-blue);
}
.footer-soc-link {
  color: var(--brand-color-white);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: currentColor;
}
.footer-mailing-container {
  margin: 0 auto;
  margin-right: 0px;
}
.footer-mailing-header {
  color: var(--brand-color-white);
  font-size: 14px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
}
#footer-mailing-form {
  padding: 14px 158px 14px 16px;
  color: var(--brand-color-transparent-gray);
  margin: 0;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--brand-background-black);
  outline: none;
}

#footer-mailing-form::placeholder {
}

.footer-mailing-submit {
  margin: 0 0 0 12px;
  padding: 10px 62px 10px 33px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  color: var(--brand-color-white);
  background-color: var(--brand-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}
.icon-send {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}

.icon-send-container {
}

.filter {
  display: flex;
  justify-content: center;
  width: 575px;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 8px;
}
.filter-button {
  font-size: 16px;
  cursor: pointer;
  line-height: 1.625;
  font-family: inherit;
  color: var(--brand-color-black);
  background-color: var(--brand-background-white);
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button-all {
  padding: 6px 22px 6px 22px;
}
.filter-button:focus,
.filter-button:hover {
  color: var(--brand-color-white);
  background-color: var(--brand-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-item-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:focus,
.portfolio-item-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-image-box {
  position: relative;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:focus .portfolio-image-overlay,
.portfolio-item-link:hover .portfolio-image-overlay {
  transform: translateY(0);
}

.portfolio-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-background-blue);
  transform: translateY(+100%);
  transition: transform 250ms ease;
  color: var(--brand-color-white);
  padding: 63px 24px;
}

.portfolio-image-overlay p {
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-size: 18px;
  margin: 0 auto;
}

.portfolio-description {
  padding: 24px 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-works-header {
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color-black);
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
}
.portfolio-works-text {
  font-size: 16px;
  color: var(--brand-color-gray);
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin: 0;
}
